.folderContainer {
  max-width: 450px;
  margin: auto;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.45);
}

.form-floating {
  margin: 0.5em;
}

.btn {
  margin: 0.5em;
  border-radius: 0.5em;
  border: solid 1px #1a181b;
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.8);
}

.btn-primary {
  background-color: #3e8989;
  color: white;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #4ca7a7;
  border-color: #4ca7a7;
}
